.container{
    border: 2px solid red;
    margin: 10px;
    background-color: antiquewhite;
    height: 8000px;
}
/* .g1{
    position: relative;
    top: 100px;
    left: 50px;
} */

.g2{
    position: absolute;
    top: 100px;
}

/* .g4{
    position: fixed;
    top: 100px;
} */

/* .g3{
    position: sticky;
    top: 200px;
} */