h1{
    color: chocolate;
    font-family: serif;
    font-size: 500%;
    font-weight: 800;
    font-style: italic;
    text-align: center;
}

p.intro{
    font-family: serif;
    font-size: 200%;
    font-weight: 500;
    font-style: normal;
}
